.footer {
    background: rgb(8, 23, 65);
    color: #fff;
    padding: 5%;
    display: flex;
    justify-content: center;
  }
  
  .col {
    border: 1px solid green;
    width: fit-content;
    margin: 25px 50px;
  }
  
  a {
    color: #fff;
    font-size: 25px;
    margin: 10px;
  }
  
  .links {
    display: flex;
    flex-direction: column;
  }
  